/*Style using float*/
#navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

#navbar ul li {
  float: left;
}

#navbar ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#navbar ul li a:hover {
  background-color: #111111;
}

#header {
  background-color: grey;
  text-align: center;
  text-decoration: underline;
}

body {
  background-color: whitesmoke;
  font-family: 'Times New Roman', Times, serif;
}