/*Style for the navbar on both ola1 and ola2*/
#navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

#navbar ul li {
  float: left;
}

#navbar ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#navbar ul li a:hover {
  background-color: #111111;
}

/* Makes all text on the page in times new roman with the page in whitesmoke */
body {
  background-color: whitesmoke;
  font-family: 'Times New Roman', Times, serif;
}

/* To differentiate the header from the rest of the page */
.header {
  background-color: lightgrey;
  text-align: center;
  margin-top: -21px;
}

/* Cleaning and formatting the table headers and data */
th, td {
  padding-right: 10px;
}

/* Making the school name stand out */
.school {
  text-align: center;
  text-decoration: underline;
}